build
CMakeFiles
CMakeCache.txt
.vscode
game.zip
*.exe

.idea

*.zip
index.html

*.data
*.a
*.o
*.wasm
*.js

game.dll
game_temp.dll
cmake-build-debug
target
assets/levels/backups

.idea
cmake-build-debug-visual-studio
